{%  extends '::base.html.twig' %}

{%  block content %}

    <h1>{{ product.name }}</h1>
    <img src = "{{ product.image }}" width = 100px>
    <p>{{ product.description }}</p>
    <p>${{ product.price|number_format }}</p>

    <form action = "/add-to-cart" method = "POST">
        <select name="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type = "hidden" name ="product_id" value ="{{ product.id }}">
        <input type = "submit" name = "add_to_cart" value = "Add to Cart">
    </form>


{%  endblock %}