{%  extends '::base.html.twig' %}

{%  block content %}

<h3>Products</h3>

    {% for product in products %}

       <div class = "productTile" style = "width:300px; float:left; padding:30px">
           <p><a href = "/products/{{ product.uri }}"><b>{{ product.name }}</b></a></p>
           <img src = "{{ product.image }}" width = 100px>
           <p>{{ product.description }}</p>
           <p>${{ product.price|number_format }}</p>
        </div>

    {%  endfor %}

{%  endblock %}